body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background-color: #3030EE;
}

.threat {
    color: white;
    border: 1px white;
    font-family: monospace;
    font-size: larger;
    margin-bottom: 1em;
}

a {
    color: white;
}

#decrypt-btn {
    color: white;
    border-style: solid;
    padding: 0.3em;
    align-content: right;
    margin-top: 90%;
    border-width: 2px;
}

#decrypt-btn:hover {
    border-width: 3px;
}

#decrypt-btn:active {
    border-width: 1px;
}